<web-app>

<servlet>
<servlet-name>First</servlet-name>
<servlet-class>com.nt.test.FirstServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>First</servlet-name>
<url-pattern>/abc</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Second</servlet-name>
<servlet-class>com.nt.test.HeaderServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Second</servlet-name>
<url-pattern>/xyz</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>Form.html</welcome-file>
</welcome-file-list>

</web-app>